<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalji polaznika</title>
</head>
<body>
    {% block content %}
    <h2>Detalji polaznika</h2>
    Ime: {{ polaznik.polaznik_ime }}<br>
    Prezime: {{ polaznik.polaznik_prezime }}<br>
    OIB: {{ polaznik.polaznik_oib }}<br>
    Tečaj: 
    {% for tecaj in polaznik.polaznik_tecaj.all %}
        {{ tecaj.tecaj_naziv }}{% if not forloop.last %}, {% endif %}
    {% endfor %}<br>
    Boravište: {{ polaznik.polaznik_boraviste }}
    <a href="{% url 'main:polaznik_list' %}">Natrag na popis polaznika</a>
    {% endblock %}
</body>
</html>
