<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rezultat</title>
</head>
<body>
    {% block content %}
    <h2>Rezultat</h2>
    <form method="GET" action="">
        <input type="text" name="q" placeholder="Search by ocjena..." value="{{ request.GET.q }}">
        <button type="submit">Pretrazi</button> <br>
        <br>
        <a href="{% url 'main:addrez' %}">Dodaj rezultat</a>
    <ul>
        {% for rezultat in object_list %}
            <li>
                Polaznik: {{ rezultat.polaznik }}<br>
                Ocjena: {{ rezultat.ocjena }} <br>
                <a href="{% url 'main:rezultat_detail' rezultat.id %}">
                    Detalji </a>
            </li>
            <a href="{% url 'main:updaterez' rezultat.pk %}">Azuriraj</a>
            <a href="{% url 'main:deleterez' rezultat.pk %}">Obrisi</a>
        {% endfor %}
    </ul>
{% endblock %}
</body>
</html>
