<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boravište</title>
</head>
<body>
    {% block content %}
    <h2>Boravišta</h2>
    <form method="GET" action="">
        <input type="text" name="q" placeholder="Search by place..." value="{{ request.GET.q }}">
        <button type="submit">Pretraži</button>
    </form>
    <ul>
        {% for boraviste in object_list %} <!-- Koristimo 'object_list' iz ListView -->
            <li>
                Naziv mjesta: {{ boraviste.boraviste_naziv_mjesta }}<br>
                Poštanski broj: {{ boraviste.boraviste_postanski_broj }} <br>
                <a href="{% url 'main:boraviste_detail' boraviste.id %}">
                    Detalji
                </a>
            </li>
        {% endfor %}
    </ul>
    {% endblock %}
</body>
</html>
