<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Razina</title>
</head>
<body>
    {% block content %}
    <h2>Razina</h2>
    <ul>
        <form method="GET" action="">
        <input type="text" name="q" placeholder="Search by day..." value="{{ request.GET.q }}">
        <button type="submit">Pretrazi</button>
    </form>
        {% for razina in object_list %}
            <li>
                Naziv: {{ razina.naziv }}<br>
                <a href="{% url 'main:razina_detail' razina.id %}">
                    Detalji </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
</body>
</html>

