<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalji tecaja</title>
</head>
<body>
    {% block content %}
    <h2>Detalji tecaja</h2>
    Naziv: {{ tecaj.tecaj_naziv }}<br>
    Sadrzaj: {{ tecaj.tecaj_sadrzaj }} <br>
    Broj sati: {{ tecaj.tecaj_broj_sati }} <br>
    Nositelj: {{ tecaj.tecaj_nositelj }} <br>
    Razina: {{ tecaj.tecaj_razina }}
    <a href="{% url 'main:tecaj_list' %}">Natrag na popis tecaja</a>
    {% endblock %}
</body>
</html>
