<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termin</title>
</head>
<body>
    {% block content %}
    <h2>Termin</h2>
    <form method="GET" action="">
        <input type="text" name="q" placeholder="Search by name..." value="{{ request.GET.q }}">
        <button type="submit">Pretrazi</button>
    </form>
    <br>
    <a href="{% url 'main:addterm' %}" >Dodaj termin</a>
    <ul>
        {% for termin in object_list %}
            <li class="termin-item">
                Dan u tjednu: {{ termin.dan_u_tjednu }}<br>
                Vrijeme: {{ termin.vrijeme }}<br>
                <a href="{% url 'main:termin_detail' termin.id %}">Detalji</a>
            </li>
            <a href="{% url 'main:updateterm' termin.pk %}">Azuriraj</a>
            <a href="{% url 'main:deleteterm' termin.pk %}">Obrisi</a>
        {% endfor %}
    </ul>
    {% endblock %}
</body>
</html>
