<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalji polaznika</title>
</head>
<body>
    {% block content %}
    <h2>Detalji polaznika</h2>
    Ime: {{ ucitelj.ucitelj_ime }}<br>
    Prezime: {{ ucitelj.ucitelj_prezime }} <br>
    Email: {{ ucitelj.ucitelj_email }} <br>
    Broj sati: {{ ucitelj.ucitelj_broj_sati }}
    <a href="{% url 'main:ucitelj_list' %}">Natrag na popis ucitelja</a>
    {% endblock %}
</body>
</html>
